@import"https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

:root {
    --primaryColor: hsl(354, 78%, 60%);
    --buttonColor: hsl(0, 0%, 17%);
    --buttonColorHover: hsl(0, 0%, 21%);
    --cardColor: hsl(0, 0%, 90%);
    --titleColor: hsl(0, 0%, 15%);
    --textColor: hsl(0, 0%, 35%);
    --textColorLight: hsl(0, 0%, 55%);
    --bodyColor: hsl(206, 4%, 97%);
    --containerColor: hsl(0, 0%, 100%);
    --borderColor: hsl(0, 0%, 94%);
}

body.dark-theme {
    --primaryColor: hsl(182, 53%, 74%);
    --buttonColor: hsl(246, 16%, 12%);
    --buttonColorHover: hsl(0, 0%, 28%);
    --cardColor: hsla(246, 16%, 5%);
    --titleColor: hsl(0, 0%, 95%);
    --textColor: hsl(0, 0%, 75%);
    --bodyColor: hsl(249, 19%, 14%);
    --containerColor: hsl(246, 16%, 12%);
    --borderColor: hsl(0, 0%, 20%)
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--containerColor);
}

body::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 8px;
}

/* *<---------------------------------------> GLOBAL <---------------------------------------> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bodyColor);
    transition: background-color 0.5s;
}

a {
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

/* * <---------------------------------------> preloader <---------------------------------------> */
.preloader {
    width: 100%;
    height: 100%;
    background-color: var(--bodyColor);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 7000;
    transition: display 0.5s;
}

.spin {

    width: 90px;
    height: 90px;
    border-top: 5px solid var(--primaryColor);
    border-right: 5px solid var(--primaryColor);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 8000;
}

.spin>div {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
}

/* * <---------------------------------------> NAVBAR <---------------------------------------> */
.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 2000;
    transition: background-color 0.5s, height 0.5s, padding 0.5s;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2.8rem 0rem 2.8rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-weight: 550;
    color: var(--titleColor);
}

.logo svg {
    width: 40px;
    fill: var(--primaryColor)
}

.navbar__ul {
    position: fixed;
    background-color: var(--bodyColor);
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    left: 100%;
    width: 100%;
    height: calc(100% - 40px);
    transition: left 0.5s;
}



.header_active {
    background-color: var(--bodyColor);
    height: 60px;
    padding-top: 0.5rem;
    box-shadow: 2px 12px 8px -3px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 2px 12px 8px -3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 2px 12px 8px -3px rgba(0, 0, 0, 0.11);
}

.navbar_ul_show {
    left: 0;
}

.logo_show {
    visibility: hidden;
}

.header_show {
    background-color: var(--bodyColor);
}

.navbar__ul li {
    font-size: 1.5rem;
    color: var(--titleColor)
}

.navbar__icon {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--titleColor);
    user-select: none;
    display: flex;
    gap: .5rem
}

#iconShowCart {
    position: relative;
}

.products_in_cart {
    position: absolute;
    top: 12px;
    right: -5px;
    width: 16px;
    height: 16px;
    background-color: var(--titleColor);
    color: var(--cardColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    border-radius: 50%;
    font-weight: bold
}

/* *<---------------------------------------> MAIN <---------------------------------------> */
.main {
    max-width: 1200px;
    margin: auto;
}

.vacio {
    width: 50%;
}


.presentation {

    padding: 0rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

.presentation__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.presentation__header-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--primaryColor);
}


.presentation__header-img img {
    width: 274px;
}

.presentation__body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.presentation__body h2 {
    width: 65%;
    font-size: 36px;
    color: var(--titleColor);
}

.presentation__body-description {
    width: 90%;
    font-size: 18px;
    color: var(--textColorLight);
}

.presentation__body-price {
    font-size: 26px;
    font-weight: bold;
    color: var(--primaryColor);
}

.presentation__body a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 54px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--buttonColor);
    transition: background-color 0.5s;
}

.presentation__body a:hover {
    background-color: var(--buttonColorHover);
}

/* HPL */

button {
    background-color: var(--bodyColor);
    width: 70px;
    height: 50px;
    color: var(--titleColor);
    border: 0;
    cursor: pointer;
    font-weight: bold;
}


button.active {
    background: var(--primaryColor);
    color: var(--bodyColor);
}

.container .mix {
    display: none;
    /* background-color: red */
}


/*! <--------------------------------------- filter ---------------------------------------> */
.products__filter-controllers {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.product__filter-division {
    display: flex;
    gap: 1rem;
}


.product__filter {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.predocut__filter-subtitle {
    font-size: 12px;
}

/*! <--------------------------------------- products ---------------------------------------> */
.products__items {
    padding: 2rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin: 0 auto;
    gap: 2rem;
}

.product__item {
    background-color: var(--cardColor);
    border-radius: 1rem;

}

.product__item-img {
    padding: 0.5rem;

}

.product__item-img img {
    width: 100%;
    transition: transform 0.5s;
    z-index: 1000;
}

.product__item-img img:hover {
    transform: translate(0, -15px);

}

.product__item-info {
    background-color: var(--containerColor);
    color: var(--titleColor);
    height: 100px;
    padding: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.sold__out {
    background-color: var(--primaryColor);
    padding: .14rem 0.6rem;
    border-radius: .2rem;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;

    color: var(--titleColor);
}




/* todo<--------------------------------------- CART ---------------------------------------> */
.cart {
    height: 100vh;
    width: 100%;
    background-color: var(--bodyColor);
    position: fixed;
    top: 0px;
    right: -200%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: right 0.5s;
    box-shadow: -10px 3px 19px -6px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: -10px 3px 19px -6px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -10px 3px 19px -6px rgba(0, 0, 0, 0.19);
    z-index: 6000;
}

.cart_show {
    right: 0px;

}

.icon__close {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--titleColor);

}

.icon__close i {
    cursor: pointer;
}


.cart__products {
    height: 70%;
    overflow-y: scroll;
}

.cart__products::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--bodyColor);
}

.cart__products::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 8px;
}

.card__product {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.card__product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cardColor);
    max-width: 600px;
    height: 110px;
    border: 2px solid var(--primaryColor);
    border-radius: 1rem;

}

.card__product-img img {
    width: 80px;
}

.card__product-description {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}



.card__product-description-title {
    color: var(--titleColor);
}

.card__product-description-stock {
    color: var(--textColorLight);
    font-size: 14px;
}

.card__product-description-stock span {
    color: var(--primaryColor);
}

.card__product-description-subtotal {
    color: var(--primaryColor);
    font-weight: lighter;
}

.card__product-description-unit-total {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--titleColor);
}

.card__product-description-unit-total i {
    cursor: pointer;

}

.bx-trash {
    color: var(--primaryColor);
}

.cart_total {
    padding: 1rem;
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart_total_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_total_info_items {
    color: var(--textColorLight);
    font-size: 12px;
}

.cart_total_info_trash {
    color: var(--primaryColor);
    cursor: pointer;
    font-weight: 16px;
}

.cart_total_info_total {
    color: var(--titleColor);
    font-weight: bold;
}

.btn {
    width: 100%;
    color: var(--bodyColor);
    padding: 1rem;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--buttonColor);
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: var(--primaryColor);
}

.product__item {
    position: relative;
}

.addCart i {
    position: absolute;
    bottom: 4.5rem;
    right: 2rem;
    color: var(--titleColor);
    background-color: var(--bodyColor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 2px 0px 23px -6px rgb(0 0 0 / 32%);
    -webkit-box-shadow: 2px 0px 23px -6px rgb(0 0 0 / 32%);
    -moz-box-shadow: 2px 0px 23px -6px rgba(0, 0, 0, 0.32);
}

.addCart i:hover {
    background-color: var(--primaryColor);
    color: var(--bodyColor);
}



/* !<--------------------------------------- FOOTER ---------------------------------------> */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--cardColor);
}

.footer__content {
    max-width: 1200px;
    padding: 4.5rem 0rem 4.5rem 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

.footer__reference {
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

.footer__reference h3 {
    color: var(--titleColor);
    font-size: 20px;
    font-weight: bold;
}

.footer__reference ul {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.footer__reference li {
    color: var(--textColor);
}

.footer__reference a {
    transition: color 0.5s;
}


.footer__reference a:hover {
    color: var(--titleColor);
}

.footer__reference:nth-child(4) ul {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: .5rem
}

/* .footer p {
    background-color: var(--primaryColor);
    padding: 1rem;
    
    
    
} */

.footer__autor {
    background-color: var(--primaryColor);
    color: var(--cardColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;  
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.footer p:hover {
    color: black;
}


@media (min-width: 780px) {
    .navbar__ul {
        background-color: transparent;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-left: 1rem;
    }

    .navbar__ul li {
        font-size: 1rem;
        font-weight: bold;
    }

    .home a {
        color: var(--primaryColor);
    }

    .icon__dashboard {
        display: none;
    }

    .presentation {
        flex-direction: row-reverse;
    }

    .presentation__body {
        padding: 2rem;
        justify-content: center;
        align-items: start;
    }

    .presentation__header-img {
        height: 78vh;
    }


    .presentation__header-img img {
        width: 340px;
    }

    .products__filter-controllers {
        margin-top: 10rem;
        flex-direction: row;
        gap: 0rem;
    }

    .product__filter-division {
        gap: 0rem;
    }

    .products__items {
        padding: 0rem 4rem 4rem 4rem;
    }

    .cart {
        width: 400px;
    }

    .footer {
        padding: 2rem;
    }

    .footer__content {
        padding: 2rem;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 8rem;
    }

    

    /*  button {
        width: 60px;
        height: 40px;
        color: var(--titleColor);
        border: 0;
    } */

}